$primary-color: #FF9130;
$secondary-color: #30475E;
$dark-color: #222831;
$light-color: #DDDDDD;
$gray-color: #939393;

$white-color: white;

//--------------------LAYOUT---------------------
$width-sidebar:12rem;
$height-tab: 40px;
$padding-container-content: 1rem;
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


//--------------------FORM----------------------
$height-input: 38px;
